{% load static %}
{% load utils %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pypas | Aprende Python comiendo pipas</title>
  <link rel="stylesheet" href="{% hashed_static 'bulma/css/versions/bulma-no-dark-mode.min.css' %}">
  <link rel="stylesheet" href="{% hashed_static '@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% hashed_static '@highlightjs/cdn-assets/styles/rainbow.min.css' %}">
  <link rel="stylesheet" href="{% hashed_static 'highlightjs-copy/dist/highlightjs-copy.min.css' %}">
  <link rel="stylesheet" href="{% hashed_static 'homepage/css/custom.css' %}">
</head>
<body>
  <div class="content">
    <header>
      <a href=""><img class="logo" src="{% hashed_static 'homepage/images/pypas-logo.svg' %}" alt="pypas logo"></a>
    </header>

    <h2>Indice de contenidos</h2>
    <a href="#objetivo">Objetivo</a><br>
    <a href="#instalación">Instalación</a><br>
    <a href="#actualización">Actualización</a><br>
    <a href="#listar-los-ejercicios">Listar los ejercicios</a><br>
    <a href="#obtener-un-ejercicio">Obtener un ejercicio</a><br>
    <a href="#leer-un-ejercicio">Leer un ejercicio</a><br>
    <a href="#probar-un-ejercicio">Probar un ejercicio</a><br>
    <a href="#ejecutar-un-ejercicio">Ejecutar un ejercicio</a><br>
    <a href="#actualizar-un-ejercicio">Actualizar un ejercicio</a><br>
    <a href="#comprimir-un-ejercicio">Comprimir un ejercicio</a><br>
    <a href="#autenticarse-como-usuario">Autenticarse como usuario</a><br>
    <a href="#seguir-tu-actividad">Seguir tu actividad</a><br>
    <a href="#miscelánea">Miscelánea</a><br>

    <h2>
      <i class="fa-solid fa-bullseye"></i>
      Objetivo
    </h2>
    <p>
      Pypas te ofrece <b>cientos de ejercicios</b> con los que podrás practicar tu lenguaje de programación favorito <i class="fa-regular fa-hand-point-right"></i> <b>Python</b>.
    </p>
    <blockquote>
      <b><a href="https://aprendepython.es">Aprende Python</a> comiendo pipas!</b>
    </blockquote>
    <p><i class="fa-solid fa-wand-magic-sparkles"></i> Se proporciona una <b>herramienta en línea de comandos</b> <code>pypas</code> mediante la cual podrás interactuar con los ejercicios.</p>
  
    <h2>
      <i class="fa-solid fa-box-open"></i>
      Instalación
    </h2>

    Hay dos vías para instalar <b>pypas</b> en tu máquina:
    <ul>
      <li>A) Usando <code>uv</code> <div class="reminder"><b>RECOMENDADA</b></span></li> 
      <li>B) Usando <code>pip</code></li>
    </ul>

    <h3>A) Instalación mediante uv</h3>
    <h4>Requisitos</h4>
    <p>Necesitas instalar <a href="https://docs.astral.sh/uv/getting-started/installation/">uv</a> que es un gestor (rápido y eficiente) de paquetería para Python.</p>
    <h4>Procedimiento de instalación</h4>
    <pre><code class="shell">$ uv tool install pypas-cli</code></pre>

    <h3>B) Instalación mediante pip</h3>
    <h4>Requisitos</h4>
    <p>Necesitas tener —al menos— <b>Python 3.12</b> instalado en tu máquina.</p>
    <h4>Procedimiento de instalación</h4>
    <pre><code class="shell">$ pip install pypas-cli</code></pre>

    <h2>
      <i class="fa-solid fa-truck-fast"></i>
      Actualización
    </h2>
    <p>Es importante que tengas la <b>última versión instalada</b>, para evitar fallos y disponer de las últimas características. <b>Para actualizar</b> a la última versión de pypas-cli:</p>
    <pre><code class="shell">$ pypas upgrade</code></pre>
    <div class="reminder">
      <i class="fa-regular fa-star"></i>
      La última versión disponible de <b>pypas-cli</b> es la <b>{% pypas_cli_version %}</b>
    </div>

    <h2>
      <i class="fa-solid fa-table-list"></i>
      Listar los ejercicios
    </h2>
    <pre><code class="shell">$ pypas list</code></pre>
    <p>Es posible filtrar por <b>tema principal</b> (<i>topic</i>):</p>
    <pre><code class="shell">$ pypas list -p &lt;topic&gt;</code></pre>
    <p>Es posible filtrar por <b>tema secundario</b> (<i>topic</i>):</p>
    <pre><code class="shell">$ pypas list -s &lt;topic&gt;</code></pre>
    <p>En el caso de disponer de varios <a href="#seguir-tu-actividad">frames</a> activos, puedes filtrar por <b>frame</b>:</p>
    <pre><code class="shell">$ pypas list -f &lt;frame&gt;</code></pre>
    <p><i class="fa-solid fa-arrows-to-circle"></i> Los filtros anteriores pueden usarse de <u>manera conjunta</u>.</p>

    <h2>
      <i class="fa-regular fa-circle-down"></i>
      Obtener un ejercicio
    </h2>
    <p>Cada ejercicio dispone de un <b>slug</b> que lo identifica (<i>nombre único</i>):</p>
    <pre><code class="shell">$ pypas get &lt;slug&gt;</code></pre>
    <p>El comando anterior creará la siguiente <b>estructura de ficheros</b> dentro de la carpeta del ejercicio:</p>
    <pre><code class="shell">.
├── docs
│   └── README.pdf
├── main.py
├── tests
│   ├── __init__.py
│   └── test_main.py
└── vendor.py</code></pre>
    <p>Es posible que esta estructura cambie ligeramente, en función de las características del ejercicio.</p>

    <h2>
      <i class="fa-brands fa-readme"></i>
      Leer un ejercicio
    </h2>
    <p>Una vez <b>en la carpeta del ejercicio</b>:</p>
    <pre><code class="shell">$ pypas doc</code></pre>
    <p>El comando anterior abrirá el documento con el enunciado del ejercicio.</p>
    <div class="reminder">
      <i class="fa-regular fa-bell"></i>
      Este comando requiere estar dentro de la carpeta del ejercicio.
    </div>

    <h2>
      <i class="fa-solid fa-vial"></i>
      Probar un ejercicio
    </h2>
    <p>El punto de entrada de cualquier ejercicio es <code>main.py</code>. Será el fichero que debes <b>cumplimentar</b> buscando la etiqueta <code># TODO</code></p>
    <p>Para probar (<i>testear</i>) un ejercicio puedes usar:</p>
    <pre><code class="shell">$ pypas test</code></pre>
    <p>En realidad es un simple <i>wrapper</i> para <a href="https://docs.pytest.org/en/stable/">pytest</a>.</p>
    <blockquote>
      Aprovecha todo el potencial de <b>pytest</b> usando las <a href="https://docs.pytest.org/en/6.2.x/usage.html">opciones en línea de comandos</a> que ofrece.
    </blockquote>
    <p>Los tests que se ejecutan son aquellos que viven en la carpeta <code>tests</code> de cada carpeta de ejercicio. Por lo tanto también puedes probar el ejercicio con:</p>
    <pre><code class="shell">$ pytest</code></pre>
    <div class="reminder">
      <i class="fa-regular fa-bell"></i>
      Este comando requiere estar dentro de la carpeta del ejercicio.
    </div>

    <h2>
      <i class="fa-solid fa-microchip"></i>
      Ejecutar un ejercicio
    </h2>
    <p>Eventualmente podrías querer <b>ejecutar tu código</b> en vez de lanzar las pruebas.</p>
    <p>Para explicar cómo, vamos a partir de un ejercicio "ficticio" <code>simple_add.py</code>:</p>
    <pre><code class="python">def add(x: int, y: int) -> int:
      return x + y

# DO NOT TOUCH THE CODE BELOW
# ...</code></pre>
    <p>Tendrás que crear un fichero <code>args.py</code> dentro de la carpeta del ejercicio con los valores que quieras dar a los <b>parámetros de la función principal</b>:</p>
    <pre><code class="ini">x = 3
y = 7</code></pre>
    <p>Ahora podrás ejecutar tu programa con:</p>
    <pre><code class="shell">$ python simple_add.py</code></pre>
    <blockquote>
      <i class="fa-regular fa-lightbulb"></i>
      Puedes utilizar esta estrategia para depurar los errores o mejorar tu código.
    </blockquote>
      
    <h2>
      <i class="fa-solid fa-spinner"></i>
      Actualizar un ejercicio
    </h2>
    <p>Es posible que, debido a la corrección de errores o mejoras introducidas, haya actualizaciones de los ejercicios. En ese caso, puedes actualizar el ejercicio con:</p>
    <pre><code class="shell">$ pypas update</code></pre>
    <p>Se hará automáticamente una <b>copia de seguridad</b> (local) de aquellos ficheros que puedan ser sobreescritos.</p>
    <div class="reminder">
      <i class="fa-regular fa-bell"></i>
      Este comando requiere estar dentro de la carpeta del ejercicio.
    </div>

    <h2>
      <i class="fa-regular fa-file-zipper"></i>
      Comprimir un ejercicio
    </h2>
    <p>Si quisieras comprimir todo el contenido del ejercicio para enviarlo o almacenarlo, lo puedes hacer con:</p>
    <pre><code class="shell">$ pypas zip</code></pre>
    <p>El comando anterior genera un fichero <code>&lt;exercise-slug&gt;.zip</code> dentro de la propia carpeta del ejercicio.</p>
    <div class="reminder">
      <i class="fa-regular fa-bell"></i>
      Este comando requiere estar dentro de la carpeta del ejercicio.
    </div>

    <h2>
      <i class="fa-solid fa-key"></i>
      Autenticarse como usuario
    </h2>
    <p>Para poder autenticarte como usuario debes recibir un <b>token</b> por parte del administrador. Una vez que dispongas de este <i>token</i> debes ejecutar el siguiente comando:</p>
    <pre><code class="shell">$ pypas auth &lt;token&gt;</code></pre>
    <p>Si la autenticación ha sido satisfactoria, se creará un fichero <code>.pypas.toml</code> en el <tt>HOME</tt> del usuario con la configuración correspondiente.</p>
    <h3>Desautenticarse</h3>
    <p>Es posible borrar el <i>token</i> de autenticación ejecutando: <code>pypas unauth</code></p>

    <h2>
      <i class="fa-regular fa-circle-up"></i>
      Entregar un ejercicio
    </h2>
    <pre><code class="shell">$ pypas put</code></pre>
    <p>El comando anterior comprimirá todos los archivos de tu ejercicio y los subirá a <i>pypas.es</i></p>
    <div class="notification is-warning is-light">
      <i class="fa-solid fa-triangle-exclamation"></i>
      Es necesario que estés previamente <a href="#autenticarse-como-usuario">autenticado/a</a>.
    </div>
    <div class="reminder">
      <i class="fa-regular fa-bell"></i>
      Este comando requiere estar dentro de la carpeta del ejercicio.
    </div>

    <h2>
      <i class="fa-solid fa-chart-line"></i>
      Seguir tu actividad
    </h2>
    <pre><code class="shell">$ pypas log</code></pre>
    <p>Con el comando anterior podrás obtener la <b>información de tus entregas</b>, separadas por <b>frames</b>. Un <i>frame</i> es un "bloque de ejercicios" que suele tener asociada una fecha de comienzo y una fecha de finalización.</p>
    <p>Dentro de cada <i>frame</i> verás la siguientes información:
      <ul>
        <li><b>Uploaded</b>: número de ejercicios entregados sobre el total de ejercicios del <i>frame</i>.</li>
        <li><b>Passed</b>: número de ejercicios que han pasado todos los <i>tests</i>.</li>
        <li><b>Failed</b>: número de ejercicios que no han pasado todos los <i>tests</i>.</li>
        <li><b>Waiting</b>: número de ejercicios que están pendientes de testearse.</li>
        <li><b>Score</b>: nota (puntuación). Ejercicios satisfactorios (<i>passed</i>) entre el total disponible.</li>
      </ul>
    </p>
    <p>
      <i class="fa-solid fa-binoculars"></i>
      Si queremos obtener información sobre los ejercicios entregados podemos ejecutar: <code>pypas log -v</code>
      <br>
      <i class="fa-solid fa-film"></i>
      Si queremos obtener información de un determinado <i>frame</i>: <code>pypas log -f &lt;frame&gt;</code>
    </p>
    <div class="notification is-warning is-light">
      <i class="fa-solid fa-triangle-exclamation"></i>
      Es necesario que estés previamente <a href="#autenticarse-como-usuario">autenticado/a</a>.
    </div>


    <h2>
      <i class="fa-regular fa-comments"></i>
      Miscelánea
    </h2>
    <ul>
      <li><code>pypas --version</code> te proporciona la <b>versión actual</b> instalada de <tt>pypas-cli</tt>.</li>
      <li><code>pypas --help</code> te proporciona <b>ayuda</b> del programa. Puedes aplicar <tt>--help</tt> sobre cualquier comando.</li>
      <li>Si quieres informar de cualquier <b>error</b> o <b>propuesta de mejora</b>, lo puedes hacer en <a href="https://github.com/sdelquin/pypas-cli/issues"><i class="fa-brands fa-github"></i> GitHub</a> o escribiendo un correo (ver <i>footer</i>).</li>
    </ul>
    <p></p>

    <footer>
      <b>Sergio Delgado Quintero</b>
      <div>
        <i class="fa-brands fa-creative-commons"></i>
        <i class="fa-brands fa-creative-commons-by"></i>
        <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
      </div>
      <div><tt>sdelquin@gmail.com</tt></div>
    </footer>
  </div>

  <button id="scrollToTopBtn"><i class="fa-solid fa-angle-up"></i></button>

  <script src="{% hashed_static 'anchor-js/anchor.min.js' %}"></script>
  <script src="{% hashed_static '@highlightjs/cdn-assets/highlight.min.js' %}"></script>
  <script src="{% hashed_static 'highlightjs-copy/dist/highlightjs-copy.min.js' %}"></script>
  <script src="{% hashed_static 'homepage/js/custom.js' %}"></script>
</body>
</html>
